.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s $ease-out-editorial;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
.post {
  &-enter-active,
  &-leave-active {
    transition: opacity 2s $ease-out-editorial;
    .post {
      &__header {
        transition: clip-path 0.5s $ease-out-editorial;
      }
      &__return-link,
      &__section,
      &__date {
        transition: clip-path 0.3s $ease-out-editorial;
      }
      &__return-link {
        transition-delay: 0.7s;
      }
      &__section {
        transition-delay: 0.8s;
      }
      &__date {
        transition-delay: 0.9s;
      }
      &__title {
        transition: clip-path 0.5s $ease-out-editorial;
        transition-delay: 0.5s;
      }
      &__tag {
        transition: all 0.5s $ease-out-editorial;
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            transition-delay: #{1 + ($i / 10)}s;
          }
        }
      }
      &__text {
        * {
          transition: all 0.7s $ease-out-circ;
        }
        @for $i from 1 through 20 {
          :nth-child(#{$i}) {
            transition-delay: #{1 + ($i / 10)}s;
          }
        }
      }
    }
  }
  &-leave-active {
    transition-duration: 0.5s;
  }
  &-enter {
    .post {
      &__header {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
      &__return-link,
      &__section,
      &__date {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &__title {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &__tag {
        transform: translateX(-2rem);
        opacity: 0;
      }
      &__text {
        * {
          transform-origin: bottom center;
          transform: translateY(2rem) scale(0.95);
          opacity: 0;
        }
      }
    }
  }
  &-leave-to {
    opacity: 0;
  }
}
.project {
  &-enter-active,
  &-leave-active {
    transition: opacity 1s $ease-out-editorial;
    .post {
      &__header {
        transition: clip-path 0.5s $ease-out-editorial;
      }
      &__return-link,
      &__section,
      &__date {
        transition: clip-path 0.3s $ease-out-editorial;
      }
      &__return-link {
        transition-delay: 0.7s;
      }
      &__section {
        transition-delay: 0.8s;
      }
      &__date {
        transition-delay: 0.9s;
      }
      &__title {
        transition: clip-path 0.5s $ease-out-editorial;
        transition-delay: 0.5s;
      }
      &__text {
        * {
          transition: all 0.7s $ease-out-circ;
        }
        @for $i from 1 through 20 {
          :nth-child(#{$i}) {
            transition-delay: #{1 + ($i / 10)}s;
          }
        }
        // transition-delay: 1.1s;
      }
    }
  }
  &-enter {
    .post {
      &__header {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
      &__return-link,
      &__section,
      &__date {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &__title {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &__text {
        * {
          transform-origin: bottom center;
          transform: translateY(2rem) scale(0.95);
          opacity: 0;
        }
      }
    }
  }
  &-leave-to {
    opacity: 0;
  }
}
.about {
  $this: &;
  &-enter-active,
  &-leave-active {
    transition: opacity 1s $ease-out-editorial;

    .header,
    #{$this}__subtitle,
    #{$this}__profile-pic,
    #{$this}__subtitle,
    #{$this}__content,
    #{$this}__logo {
      transition: opacity 0.8s;
    }
    #{$this}__subtitle {
      transition-delay: 0.2s;
    }
    #{$this}__content {
      transition-delay: 0.3s;
    }
    #{$this}__logo {
      transition-delay: 0.4s;
    }
    #{$this}__profile-pic {
      transition-delay: 0.5s;
    }
  }
  &-enter {
    opacity: 0.99999;
    .header,
    #{$this}__subtitle,
    #{$this}__profile-pic,
    #{$this}__subtitle,
    #{$this}__content,
    #{$this}__logo {
      opacity: 0;
    }
  }
  &-leave-to {
    opacity: 0;
  }
}
.contact {
  $this: &;
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s $ease-out-editorial;
    .header,
    #{$this}__content,
    #{$this}__list-item,
    #{$this}__accent-img {
      transition: opacity 0.8s;
    }
    #{$this}__accent-img {
      transition-delay: 0.2s;
    }
    #{$this}__content {
      transition-delay: 0.3s;
    }
    #{$this}__list-item {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: #{$i / 10 + 0.4}s;
        }
      }
    }
  }
  &-enter {
    opacity: 0.99999;
    .header,
    #{$this}__accent-img,
    #{$this}__content,
    #{$this}__list-item,
    #{$this}__accent-img {
      opacity: 0;
    }
  }
  &-leave-to {
    opacity: 0;
  }
}
@mixin list-page-mobile {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s $ease-out-editorial;
    [class$="-list__item"],
    .header {
      transition: opacity 0.5s $ease-out-editorial;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: #{$i / 10}s;
        }
      }
    }
  }
  &-enter {
    opacity: 0.99999;
    [class$="-list__item"],
    .header {
      opacity: 0;
    }
  }
  &-leave-to {
    opacity: 0;
  }
}
.writing-list-page {
  @include list-page-mobile();
}

.work-list-page {
  @include list-page-mobile();
  @include screen(lg) {
    &-enter-active,
    &-leave-active {
      transition: opacity 2s $ease-out-editorial;
      .header {
        transition: opacity 0.5s $ease-out-editorial;
      }
      .work-list {
        transition: all 0.5s $ease-out-editorial;
        &__item {
          transition: all 0.5s $ease-out-editorial;
          > * {
            transition: all 0.5s $ease-out-editorial;
          }
          @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i / 10}s;
              > * {
                transition-delay: #{($i / 5) + 0.2}s;
              }
            }
          }
        }
      }
    }
    &-leave-active {
      transition-duration: 0.5s;
    }
    &-enter {
      opacity: 0.99999;
      .header {
        opacity: 0;
      }
      .work-list {
        opacity: 0;
        transform: scaleY(0);
        &__item {
          transform: scaleY(0);
          opacity: 1;
          > * {
            opacity: 0;
          }
        }
      }
    }
    &-leave-to {
      opacity: 0;
    }
  }
}
