.blm {
  line-height: 1.5;
  position: absolute;
  z-index: 2;
  top: $nav-size;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: $color--contrast;
  background-color: $color--neutral;

  @include screen(md) {
    top: 0;
    left: $nav-size;
    width: calc(100vw - #{$nav-size});
  }
  @include wide-sans;
}
.index {
  padding-top: 4rem;
}
