.header {
  @include container;
  margin: 4rem 0 2rem;
  @include screen(md) {
    margin-top: 7.5rem;
  }
  &__title {
    @include screen(md) {
      font-size: 10vw;
    }
    @include screen(lg) {
      position: sticky;
      top: 7.5rem;
      width: 10vw;
      margin: 0;
      transform: rotate(90deg) translateX(-5vw) translateY(10%);
      white-space: nowrap;
    }
  }
}
