.nav {
  @include border(bottom);
  font-size: 0.8rem;
  @include screen(sm) {
    font-size: 1rem;
  }
  @include screen(md) {
    border-bottom: none;
    @include border(right);
    width: $nav-size;
    min-height: 100vh;
  }
  @include screen(lg) {
    z-index: 1;
    background: $color--contrast;
  }
  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.1rem;
    @include screen(md) {
      width: 100vh;
      transform: rotate(90deg) translateX(-60px);
      transform-origin: bottom left;
      height: $nav-size;
      justify-content: unset;
      position: sticky;
      top: 0;
    }
  }
  &__list-item {
    line-height: 1;
  }
  &__list-dark-mode {
    display: none;
    @include screen(md) {
      cursor: pointer;
      user-select: none;
      display: block;
      justify-self: end;
      span {
        transform: rotate(-90deg);
        display: inline-block;
        filter: saturate(0);
      }
    }
  }
  &__link {
    display: inline-block;
    font-weight: 700;
    padding: 1.1rem 0;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: "";
      left: 0;
      right: 0;
      height: 2px;
      top: 50%;
      position: absolute;
      transform: translateY(-50%) scaleX(0);
      background: currentColor;
      opacity: 0.5;
      transition: all 200ms;
    }
    &:hover,
    &--active {
      &:before {
        transform: translateY(-50%) scaleX(1);
      }
    }
    &--active {
      &:before {
        opacity: 1;
      }
    }
    &--no-decoration {
      &:before {
        content: unset;
      }
    }
    @include screen(md) {
      &:before {
        content: unset;
      }
    }
  }
  &__link-icon {
    width: 0.9rem;
    @include screen(sm) {
      display: block;
      width: 1.3rem;
    }
    @include screen(md) {
      transform: rotate(-90deg);
    }
  }
}
