.work-list {
  display: grid;
  @include screen(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include screen(lg) {
    transform-origin: 0 0;

    grid-auto-columns: 20rem;
    justify-content: start;
    height: 100%;
    grid-template-columns: unset;
    grid-auto-flow: column;
  }
  &__item {
    @include container;
    @include border(bottom);
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include screen(md) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      &:nth-of-type(odd) {
        @include border(right);
      }
      &:nth-of-type(-n + 2) {
        // @include border(top);
        @include screen(lg) {
          border-top: 0;
        }
      }
    }
    @include screen(lg) {
      transform-origin: 0 0;
      @include border(right);
      border-bottom: 0;
      display: grid;
      align-items: end;
      padding-left: 2rem;
      padding-right: 2rem;
      grid-template-rows: auto 1fr;
    }
  }
  &__item-lower {
    @include screen(lg) {
      min-height: 50vh;
      display: grid;
      align-content: start;
      grid-template-rows: auto auto 1fr;
    }
  }
  &__counter {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: $color--mid;
    @include screen(lg) {
      display: block;
      margin-bottom: 2rem;
    }
  }
  &__title {
    font-family: $font--display;
    font-weight: 700;
    font-size: 1.7rem;
  }
  &__image {
    width: 60%;
    @include screen(md) {
      width: auto;
    }
  }
  &__details {
    margin-top: 1em;
    text-transform: uppercase;
    @include screen(md) {
      font-size: 0.8rem;
    }
  }
  &__contribution {
    margin: 0;
    font-weight: 700;
  }
  &__date {
    font-weight: 700;
    color: $color--mid;
  }
  &__excerpt {
    color: $color--mid;
    max-width: 24rem;
    // font-style: italic;
    @include screen(md) {
      font-size: 0.8rem;
    }
  }
  &__link {
    font-family: $font--display;
    @include screen(md) {
      text-align: right;
      display: block;
    }
    @include screen(lg) {
      text-align: left;
    }
  }
}
