.writing-list {
  @include border(top);
  display: grid;
  grid-auto-rows: 1fr;

  &__item {
    @include border(bottom);
    position: relative;
    z-index: 1;
    display: grid;
    overflow: hidden;
    height: 14rem;
    color: $color--contrast;
    background-color: $color--neutral;
    align-items: end;
    @include screen(sm) {
      height: unset;
      padding: 2rem 1rem 1rem;
      align-items: unset;
      color: $color--neutral;
      background-color: unset;
      grid-column-gap: 1rem;
      grid-template-columns: 3fr 2fr;
    }
  }
  &__content {
    @include container;
    @include screen(sm) {
      @include container-unset;
      grid-row: span 2;
    }
  }
  &__category {
    @include wide-sans;
    font-size: 0.8rem;
  }
  &__title {
    font-family: $font--display;
    font-size: 1.7rem;
    font-weight: 700;
  }
  &__excerpt {
    display: none;
  }
  &__link {
    font-family: $font--display;
    font-size: 1.2rem;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
    @include screen(sm) {
      position: relative;
      color: $color--neutral;
      grid-column: 2;
      grid-row: 1;
    }
  }
  &__image {
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    width: 120vw;
    object-fit: cover;
    filter: brightness(50%) grayscale(50%) blur(3px);
    @include screen(sm) {
      position: relative;
      z-index: unset;
      top: unset;
      left: unset;
      width: auto;
      max-width: 100%;
      object-fit: unset;
      filter: unset;
      grid-column: 2;
    }
  }
}
