.writing-list {
  $image-filter: brightness(50%) grayscale(50%) blur(3px);
  $amp: &;

  @include border(top);
  @include screen(md) {
    @include container;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  @include screen(lg) {
    border-top: 0;
    grid-template-columns: 1fr;
  }
  &__item {
    @include border(bottom);
    position: relative;
    z-index: 1;
    display: grid;
    overflow: hidden;
    height: 14rem;
    color: $color--contrast;
    background-color: $color--neutral;
    align-items: end;
    @include screen(sm) {
      height: unset;
      padding: 2rem 0;
      align-items: unset;
      color: $color--neutral;
      background-color: unset;
    }

    @include screen(lg) {
      position: relative;
      &:first-of-type {
        min-height: 50vh;
        color: $color--contrast;
        padding: unset;
        #{$amp}__content {
          align-content: center;
          padding: 2rem 2.5rem;
          position: relative;
          grid-template-columns: 1fr;
          grid-template-areas: "category" "title" "excerpt" "link";
        }
        #{$amp}__title {
          font-size: 2.6rem;
        }
        #{$amp}__excerpt {
          color: $color--contrast;
          font-size: 1rem;
          padding: 0;
        }
        #{$amp}__image {
          @include full-bleed-hero-image;
          position: absolute;
          grid-area: unset;
          min-height: calc(100% + 20px);
          min-width: calc(100% + 20px);
          grid-column: unset;
          z-index: -1;
          filter: $image-filter;
        }
        #{$amp}__link {
          text-align: left;
          color: $color--contrast;
          font-size: 1.3rem;
        }
        #{$amp}__date,
        #{$amp}__tags {
          display: none;
        }
      }
    }
  }
  &__content {
    @include container;
    @include screen(md) {
      @include container-unset;
      display: grid;
      align-content: start;
    }
    @include screen(lg) {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
        "title title ."
        "img excerpt category"
        "img excerpt tags"
        "img excerpt tags"
        "link excerpt date";
      grid-column-gap: 1rem;
    }
  }
  &__tags {
    display: none;
    color: $color--mid;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 1.9px;
    line-height: 1.5;
    @include screen(lg) {
      grid-area: tags;
      display: block;
      > li {
        line-height: 1.5;
      }
    }
  }
  &__category {
    @include wide-sans;
    font-size: 0.8rem;
    @include screen(lg) {
      color: $color--mid;
      grid-area: category;
      margin: 0;
    }
  }
  &__title {
    font-family: $font--display;
    font-size: 1.7rem;
    font-weight: 700;
    @include screen(lg) {
      grid-area: title;
    }
  }
  &__excerpt {
    display: none;
    font-size: 0.7rem;
    color: $color--mid;
    @include screen(md) {
      display: block;
    }
    @include screen(lg) {
      grid-area: excerpt;
      border-right: 1px solid $color--mid;
      padding-right: 1rem;
    }
  }
  &__date {
    display: none;
    text-transform: uppercase;
    font-family: $font--display;
    font-size: 1.3rem;
    margin: 0;
    @include screen(lg) {
      grid-area: date;
      align-self: end;
      display: block;
    }
  }
  &__link {
    font-family: $font--display;
    font-size: 1.2rem;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
    @include screen(sm) {
      position: relative;
      color: $color--neutral;
    }
    @include screen(lg) {
      grid-area: link;
      text-align: left;
    }
  }
  &__image {
    z-index: -1;
    @include full-bleed-hero-image;
    filter: $image-filter;
    @include screen(sm) {
      position: relative;
      z-index: unset;
      top: unset;
      left: unset;
      width: auto;
      max-width: 100%;
      object-fit: unset;
      filter: unset;
      margin-bottom: 1rem;
    }
    @include screen(lg) {
      grid-area: img;
    }
  }
}
