// Inter
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("https://rsms.me/inter/font-files/Inter-upright.var.woff2")
    format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("https://rsms.me/inter/font-files/Inter-italic.var.woff2")
    format("woff2");
}
/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: "Inter var experimental";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("~assets/fonts/inter/Inter.var.woff2?v=3.7") format("woff2");
}

//  GT Super
@font-face {
  font-family: "GT Super";
  font-weight: 700;
  font-style: italic;
  src: url("~assets/fonts/gt-super/GT-Super-Display-Bold-Italic.eot")
      format("embedded-opentype"),
    url("~assets/fonts/gt-super/GT-Super-Display-Bold-Italic.woff2")
      format("woff2"),
    url("~assets/fonts/gt-super/GT-Super-Display-Bold-Italic.woff")
      format("woff"),
    url("~assets/fonts/gt-super/GT-Super-Display-Bold-Italic.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GT Super";
  font-weight: 700;
  font-style: normal;
  src: url("~assets/fonts/gt-super/GT-Super-Display-Bold.eot")
      format("embedded-opentype"),
    url("~assets/fonts/gt-super/GT-Super-Display-Bold.woff2") format("woff2"),
    url("~assets/fonts/gt-super/GT-Super-Display-Bold.woff") format("woff"),
    url("~assets/fonts/gt-super/GT-Super-Display-Bold.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GT Super";
  font-weight: 300;
  font-style: italic;
  src: url("~assets/fonts/gt-super/GT-Super-Display-Light-Italic.eot")
      format("embedded-opentype"),
    url("~assets/fonts/gt-super/GT-Super-Display-Light-Italic.woff2")
      format("woff2"),
    url("~assets/fonts/gt-super/GT-Super-Display-Light-Italic.woff")
      format("woff"),
    url("~assets/fonts/gt-super/GT-Super-Display-Light-Italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "GT Super";
  font-weight: 300;
  font-style: normal;
  src: url("~assets/fonts/gt-super/GT-Super-Display-Light.eot")
      format("embedded-opentype"),
    url("~assets/fonts/gt-super/GT-Super-Display-Light.woff2") format("woff2"),
    url("~assets/fonts/gt-super/GT-Super-Display-Light.woff") format("woff"),
    url("~assets/fonts/gt-super/GT-Super-Display-Light.ttf");
  font-display: swap;
}
