@mixin border($dir: null) {
  @if ($dir) {
    border-#{$dir}: 2px solid $color--neutral;
  } @else {
    border: 2px solid $color--neutral;
  }
}

@mixin container {
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}
@mixin wide-sans {
  font-weight: 700;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
