@mixin screen($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
@mixin border($dir: null) {
  @if ($dir) {
    border-#{$dir}: 2px solid $color--neutral;
  } @else {
    border: 2px solid $color--neutral;
  }
}
@mixin full-bleed-hero-image {
  top: -5px;
  left: -5px;
  width: 120%;
  object-fit: cover;
  position: absolute;
}
@mixin image-filter {
  filter: brightness(80%) grayscale(50%) blur(3px);
}
@mixin container {
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}
@mixin container-unset {
  padding: unset;
  width: unset;
  margin: unset;
}
@mixin wide-sans {
  font-weight: 700;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
