@mixin screen($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
@mixin border($dir: null) {
  @if ($dir) {
    border-#{$dir}: 2px solid $color--neutral;
  } @else {
    border: 2px solid $color--neutral;
  }
}
@mixin full-bleed-hero-image {
  top: -5px;
  left: -5px;
  width: 120%;
  object-fit: cover;
  position: absolute;
}
@mixin image-filter {
  filter: brightness(80%) grayscale(50%) blur(3px);
}
@mixin container {
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}
@mixin container-unset {
  padding: unset;
  width: unset;
  margin: unset;
}
@mixin wide-sans {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
@mixin external-link-icon {
  &[href^="http"] {
    &:after {
      content: "";
      background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIj4NCiAgPHBhdGggZD0iTTMgM3YxOGgxOHYtOWgtMnY3SDVWNWg3VjNIM3ptMTEgMHYyaDMuNTg2bC05LjI5MyA5LjI5MyAxLjQxNCAxLjQxNEwxOSA2LjQxNFYxMGgyVjNoLTd6IiBmb250LXdlaWdodD0iNDAwIiBmb250LWZhbWlseT0ic2Fucy1zZXJpZiIgd2hpdGUtc3BhY2U9Im5vcm1hbCIgb3ZlcmZsb3c9InZpc2libGUiLz4NCjwvc3ZnPg==");
      opacity: 0.5;
      background-size: cover;
      width: 1em;
      height: 1em;
      margin-left: 0.2em;
      display: inline-block;
      filter: var(--filter-invert);
    }
  }
}
