// @import url("https://rsms.me/inter/inter.css");

html {
  font-family: $font--sans;
  font-size: var(--font-size);
  font-feature-settings: "ss01" 1;
  -webkit-font-smoothing: antialiased;
  color: var(--color--neutral);
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration-skip-ink: auto;
}

p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.014em;
  margin-block-end: 1rem;
}
li {
  line-height: 1.5;
}
h1 {
  font-family: $font--display;
  font-size: 3.1rem;
  font-weight: 300;
  line-height: 0.9;
  text-transform: uppercase;
}
h2,
h3,
h4 {
  font-weight: 700;
}
h2 {
  font-family: $font--display;
  font-size: var(--h2-size);
  font-weight: 700;
  line-height: calc(var(--line-height) * 2);
  margin-top: var(--h2-size);
  margin-bottom: var(--line-height);
  margin-left: calc(var(--h2-size) / -26);
  letter-spacing: -0.03em;
}
h3 {
  font-size: var(--h3-size);
  margin-top: var(--h3-size);
  margin-bottom: var(--baseline);
  padding-top: calc(var(--baseline) * 0.75);
  padding-bottom: calc(var(--baseline) * 0.25);
  letter-spacing: -0.02em;
}
h4 {
  font-size: var(--h4-size);
  margin-top: var(--h4-size);
  margin-bottom: var(--baseline);
  padding-top: calc(var(--baseline) * 0.75);
  padding-bottom: calc(var(--baseline) * 0.25);
  letter-spacing: -0.012em;
  text-transform: uppercase;
  color: $color--mid;
}
h5 {
  font-weight: 670;
  margin-bottom: 0;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: $color--mid;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}

blockquote {
  padding: 0.5rem;
  padding-left: 1rem;
  color: $color--mid;
  border-left: 0.3rem solid $color--mid;
  margin-block-end: 1rem;
  p {
    margin: 0;
  }
}

.text {
  &--display {
    font-family: $font--display;
  }
  &--large {
    font-size: 1.7rem;
  }
  &--emphasis {
    font-weight: 700;
  }
  &--italic {
    font-style: italic;
  }
}
.header-anchor {
  font-size: 1rem;
  display: inline-block;
  transform: translateY(-0.5rem);
  text-decoration: none;
  color: $color--mid;
  &:hover {
    text-decoration: underline;
    color: $color--neutral;
  }
}
