@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "GT Super";
  src: url("~assets/fonts/gt-super/gt-super-display-trial-bold-italic-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/gt-super/gt-super-display-trial-bold-italic-webfont.woff")
      format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "GT Super";
  src: url("~assets/fonts/gt-super/gt-super-display-trial-bold-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/gt-super/gt-super-display-trial-bold-webfont.woff")
      format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT Super";
  src: url("~assets/fonts/gt-super/gt-super-display-trial-light-italic-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/gt-super/gt-super-display-trial-light-italic-webfont.woff")
      format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "GT Super";
  src: url("~assets/fonts/gt-super/gt-super-display-trial-light-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/gt-super/gt-super-display-trial-light-webfont.woff")
      format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: $font--sans;
  font-size: var(--font-size);
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  // font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

p {
  margin-block-end: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.014em;
}

h1 {
  font-size: 3.1rem;
  text-transform: uppercase;
  line-height: 0.9;
  font-family: $font--display;
  font-weight: 300;
}
h2,
h3,
h4 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: var(--h2-size);
  line-height: calc(var(--line-height) * 2);
  margin-left: calc(var(--h2-size) / -26);
  font-family: $font--display;
  margin-bottom: var(--line-height);
}
h3 {
  letter-spacing: -0.02em;
  font-size: var(--h3-size);
  padding-top: calc(var(--baseline) * 0.75);
  padding-bottom: calc(var(--baseline) * 0.25);
  margin-bottom: var(--baseline);
}
h4 {
  padding-top: calc(var(--baseline) * 0.75);
  padding-bottom: calc(var(--baseline) * 0.25);
  margin-bottom: var(--baseline);
  letter-spacing: -0.012em;
  font-size: var(--h4-size);
}
h5 {
  font-weight: 670;
  letter-spacing: -0.015em;
  margin-bottom: 0;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
.text {
  &--display {
    font-family: $font--display;
  }
  &--large {
    font-size: 1.7rem;
  }
  &--emphasis {
    font-weight: 700;
  }
  &--italic {
    font-style: italic;
  }
}
.header-anchor {
  font-family: $font--sans;
  color: $color--mid;
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    color: $color--neutral;
    text-decoration: underline;
  }
}
