.about {
  @include container;
  @include screen(sm) {
    display: grid;
    grid-template-areas:
      "header img"
      "content img";
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 1rem;
  }
  @include screen(md) {
    padding-top: 2rem;
  }
  @include screen(lg) {
    grid-template-areas: unset;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    grid-column-gap: 2rem;
  }
  &__logo {
    display: none;
    filter: var(--filter-invert);
    @include screen(lg) {
      display: block;
      grid-row: 2;
      grid-column: 2;
    }
  }
  &__profile-pic {
    grid-area: img;
    max-width: 50%;
    position: relative;
    @include screen(sm) {
      max-width: unset;
    }
    @include screen(lg) {
      grid-area: unset;
      grid-column: 3;
      grid-row: 1 / span 2;
      z-index: -1;
    }
    &:after {
      content: "";
      width: 50%;
      height: 55%;
      position: absolute;
      top: 10px;
      left: 10px;
      background-image: url("~assets/img/icon-logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      filter: invert(1);
      @include screen(lg) {
        content: unset;
      }
    }
  }
  &__subtitle {
    font-family: $font--display;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 0.9em;
    align-self: end;
    margin-top: 0;
    @include screen(lg) {
      grid-column: 1 / span 3;
      grid-row: 1;
      align-self: unset;
      font-size: 7.5vw;
      margin-top: 10rem;
    }
    &--light {
      color: $color--mid;
    }
  }
  &__content {
    @include screen(lg) {
      font-size: 0.9rem;
      grid-row: 2;
      grid-column: 1;
    }
  }
}
