.index {
  @include screen(md) {
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    align-content: center;
  }
  @include screen(lg) {
    overflow: hidden;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    align-content: start;
    grid-template-rows: auto 1fr;
  }
  $p: &;
  display: grid;
  &__logo {
    @include screen(sm) {
      max-width: 16rem;
    }
    @include screen(md) {
      width: 20vw;
      margin: 0;
    }
    @include screen(lg) {
      display: none;
    }
    width: 40%;
    margin: 2rem 0;
  }
  &__header {
    z-index: 1;
    font-size: 3.1rem;
    margin-bottom: 2rem;
    @include screen(md) {
      font-size: 10vw;
      grid-column: 2 / span 2;
    }
    @include screen(lg) {
      font-size: 18vw;
      position: relative;
      max-width: 100%;
      margin-bottom: 0;
      margin-left: -7vw;
      grid-column: 1 / -1;
    }
    &--wrap {
      padding-left: 0.7em;
    }
  }
  &__role {
    font-family: $font--display;
    line-height: 0.9;
    text-transform: uppercase;
    #{$p}__header--wrap {
      @include screen(md) {
        transform: translateX(calc(var(--translateX) * -2));
      }
      @include screen(lg) {
        padding-left: 0.3em;
      }
      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }
      display: inline-block;
    }
    @include screen(md) {
      transform: translateX(var(--translateX));
    }
    @include screen(lg) {
      margin: 0;
    }
    @media (prefers-reduced-motion: reduce) {
      transform: none;
    }
  }
  &__name {
    font-size: 3.1rem;
    color: $color--mid;
    @include screen(md) {
      font-size: 10vw;
    }
    @include screen(lg) {
      font-family: $font--sans;
      font-size: 2vw;
      font-weight: 700;
      position: absolute;
      top: 0;
      right: -5.5rem;
      display: grid;
      width: 12vw;
      height: 12vw;
      padding: 0.2em;
      text-transform: none;
      color: $color--neutral;
      border: 0.2em solid $color--neutral;
      align-content: end;
      #{$p}__header--wrap {
        padding-left: 0;
      }
      &:before {
        height: 7vw;
        content: "";
        background-image: url("~assets/img/icon-logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        filter: var(--filter-invert);
      }
    }
  }
  &__content {
    display: grid;
    grid-template-areas: "purpose" "location" "date";
    @include screen(md) {
      grid-column: 1 / span 3;
      grid-template-areas: "purpose date" ". location";
    }
  }
  &__date {
    font-weight: 700;
    text-transform: uppercase;
    grid-area: date;
    @include screen(md) {
      text-align: right;
    }
  }
  &__hire {
    color: $color--mid;
    font-family: $font--display;
    font-style: italic;
    grid-area: purpose;
  }
  &__hireability {
    @include screen(md) {
      margin: 0;
    }
  }
  &__location {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    grid-area: location;
    @include screen(md) {
      text-align: right;
      align-self: end;
    }
  }
  &__accent-pic-container {
    display: none;
    @include screen(md) {
      display: block;
      grid-column: span 1;
    }
    @include screen(lg) {
      position: relative;
      z-index: 0;
      overflow: hidden;
      min-height: 50vh;
      margin-top: -16%;
      margin-bottom: -2rem;
      grid-column: span 2;

      &:before,
      &:after {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url("~assets/img/sky.jpg");
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 100%;
        mix-blend-mode: multiply;
      }
      &:before {
        transform: translateY(-50%) translateX(calc(var(--translateX) / 2));
        filter: brightness(110%) sepia(1) hue-rotate(-76deg);
      }
      &:after {
        transform: translateY(-50%) translateX(calc(var(--translateX) / -2));
        filter: brightness(110%) sepia(1) hue-rotate(130deg);
      }
      img {
        // object-fit: cover;
        position: absolute;
        bottom: 0;
        width: auto;
        max-width: 100%;
      }
    }
  }
}
