.index {
  display: grid;
  $p: &;
  @include screen(md) {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    grid-column-gap: 1rem;
    align-content: center;
  }
  @include screen(lg) {
    grid-template-columns: repeat(5, 1fr);
    align-content: start;
    grid-template-rows: auto 1fr;
  }
  &__logo {
    width: 50%;
    margin: 2rem 0;
    @include screen(sm) {
      max-width: 16rem;
      margin: 0;
    }
    @include screen(md) {
      width: 20vw;
    }
    @include screen(lg) {
      display: none;
    }
  }
  &__header {
    margin-bottom: 2rem;
    font-size: 3.1rem;
    @include screen(md) {
      font-size: 10vw;
      grid-column: 2 / span 2;
    }
    @include screen(lg) {
      grid-column: 1 / -1;
      font-size: 18vw;
      margin-left: -7vw;
      margin-bottom: 0;
      position: relative;
    }
    &--wrap {
      padding-left: 0.7em;
    }
  }
  &__role {
    font-family: $font--display;
    text-transform: uppercase;
    line-height: 0.9;
    transform: translateX(var(--translateX));
    @media (prefers-reduced-motion: reduce) {
      transform: none;
    }
    @include screen(lg) {
      margin: 0;
    }
    #{$p}__header--wrap {
      display: inline-block;
      transform: translateX(calc(var(--translateX) * -2));
      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }
      @include screen(lg) {
        padding-left: 0.2em;
      }
    }
  }
  &__name {
    color: $color--mid;
    font-size: 3.1rem;
    @include screen(md) {
      font-size: 10vw;
    }
    @include screen(lg) {
      position: absolute;
      font-family: $font--sans;
      font-weight: 700;
      font-size: 2vw;
      color: $color--neutral;
      text-transform: none;
      top: 0;
      right: 3.5rem;
      width: 12vw;
      height: 12vw;
      display: grid;
      align-content: end;
      padding: 0.2em;
      border: 0.2em solid $color--neutral;
      #{$p}__header--wrap {
        padding-left: 0;
      }
      &:before {
        content: "";
        height: 7vw;
        background-image: url("~assets/img/icon-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__content {
    display: grid;
    color: $color--mid;
    grid-template-areas: "purpose" "status" "date";
    @include screen(md) {
      grid-column: 1 / span 3;
      grid-template-areas: "purpose date" ". status";
    }
  }
  &__date {
    color: $color--neutral;
    grid-area: date;
    font-weight: 700;
    text-transform: uppercase;
    @include screen(md) {
      text-align: right;
    }
  }
  &__status {
    grid-area: status;
    @include screen(md) {
      text-align: right;
      align-self: end;
    }
  }
  &__location {
    margin: 0;
    @include screen(lg) {
      margin-bottom: 1em;
    }
  }
  &__hireability {
    font-style: italic;
  }
  &__profile-pic-container {
    display: none;
    @include screen(md) {
      grid-column: span 1;
      display: block;
    }
    @include screen(lg) {
      grid-column: span 2;
      margin-top: -16%;
      z-index: -1;
      position: relative;
      img {
        position: absolute;
      }
    }
  }
}
