*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $color--contrast;
  // Not sure why this cropped up but TODO fix.
  overflow-x: hidden;
}
.app {
  @include screen(md) {
    display: grid;
    grid-auto-flow: column;
  }
  @include screen(md) {
    justify-content: start;
  }
  @include screen(lg) {
  }
}
.layout {
  max-width: 100vw;
  &--post {
    @include container;
  }
  @include screen(lg) {
    display: grid;
    grid-auto-flow: column;
  }
}
.container {
  @include container;
}
.main {
  // padding-bottom: 4rem;
  &--container {
    @include container;
  }
  &--content {
    ol,
    ul {
      list-style: initial;
      padding-left: 1.3em;
      list-style-position: outside;
      margin-bottom: 1rem;
    }
    ul {
      list-style-type: square;
    }
  }
  &__img {
    margin-bottom: 1.5rem;
  }
}
img {
  max-width: 100%;
}
