*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $color--contrast;
}
.container {
  @include container;
  img {
    max-width: 100%;
  }
}
.main {
  padding-bottom: 4rem;
  &__img {
    margin-bottom: 1.5rem;
    &--profile-pic {
      max-width: 50%;
      position: relative;

      &:after {
        content: "";
        width: 50%;
        height: 55%;
        position: absolute;
        top: 10px;
        left: 10px;
        background-image: url("~assets/img/icon-logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        filter: invert(1);
      }
    }
  }
  &__subtitle {
    &--light {
      color: $color--mid;
    }
  }
}
