*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $color--contrast;
  overflow-x: hidden;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="36" style="font-size: 2rem;font-family:GT Super;"><text y="24">†</text></svg>'),
    auto;
}
.app {
  @include screen(md) {
    display: grid;
    grid-auto-flow: column;
  }
  @include screen(md) {
    justify-content: start;
  }
  @include screen(lg) {
  }
}
.layout {
  max-width: 100vw;
  @include screen(lg) {
    display: grid;
    grid-auto-flow: column;
  }
}
.container {
  @include container;
}
.main {
  &--container {
    @include container;
  }
  &__img {
    margin-bottom: 1.5rem;
  }
}
img {
  max-width: 100%;
}
