.codepen {
  position: relative;
  background: $color--neutral;
  background-image: repeating-linear-gradient(45deg, $color--mid, transparent 1px, transparent 1rem, $color--mid 1rem);

  &:before {
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin-top: 10px;
    padding: 2rem;
    content: "🚧 There should be a CodePen embed here... 🤔";
    color: $color--contrast;
    opacity: 0.9;
  }
}

pre,
code[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier,
    monospace;
  font-size: 14px;
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #9a86fd;
  background: #2a2734;
  direction: ltr;
}

code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier,
    monospace;
  &.language-css,
  &.language-scss {
    color: #ffcc99;
  }
}

pre {
  // filter: grayscale(1);
  margin-block-end: 1rem;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier,
    monospace;
  font-size: 14px;
  line-height: 1.375;
  overflow: auto;
  padding: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #9a86fd;
  background: #2a2734;
  direction: ltr;
  &::-moz-selection,
  ::-moz-selection {
    background: #6a51e6;
    text-shadow: none;
  }
}
code[class*="language-"] {
  &::selection,
  ::selection {
    background: #6a51e6;
    text-shadow: none;
  }
  &::-moz-selection,
  ::-moz-selection {
    background: #6a51e6;
    text-shadow: none;
  }
}

pre[class*="language-"] {
  &::selection,
  ::selection {
    background: #6a51e6;
    text-shadow: none;
  }
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata,
  &.punctuation {
    color: #6c6783;
  }
  &.namespace {
    opacity: 0.7;
  }
  &.tag,
  &.operator,
  &.number {
    color: #e09142;
  }
  &.property,
  &.function {
    color: #9a86fd;
  }
  &.tag-id,
  &.selector,
  &.atrule-id {
    color: #eeebff;
  }
  &.boolean,
  &.string,
  &.entity,
  &.url {
    color: #ffcc99;
  }
  &.attr-value,
  &.keyword,
  &.control,
  &.directive,
  &.unit,
  &.statement,
  &.regex,
  &.atrule,
  &.placeholder,
  &.variable {
    color: #ffcc99;
  }
  &.deleted {
    text-decoration: line-through;
  }
  &.inserted {
    text-decoration: none;
    border-bottom: 1px dotted #eeebff;
  }
  &.italic {
    font-style: italic;
  }
  &.important,
  &.bold {
    font-weight: bold;
  }
  &.important {
    color: #c4b9fe;
  }
  &.entity {
    cursor: help;
  }
}

code.language-javascript,
.token.attr-name {
  color: #c4b9fe;
}

.language-css .token.string,
.language-scss .token.string,
.style .token.string {
  color: #ffcc99;
}

pre > code.highlight {
  outline: 0.4em solid #8a75f5;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
   * http://prismjs.com/plugins/line-numbers/
   */

.line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}

.line-numbers-rows > span:before {
  color: #3c3949;
}

/* overrides color-values for the Line Highlight plugin
  * http://prismjs.com/plugins/line-highlight/
  */

.line-highlight {
  background: rgba(224, 145, 66, 0.2);
  background: -webkit-linear-gradient(left, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
  background: linear-gradient(to right, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
}
