.codepen {
  position: relative;
  background: $color--neutral;
  background-image: repeating-linear-gradient(45deg, $color--mid, transparent 1px, transparent 1rem, $color--mid 1rem);

  &:before {
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin-top: 10px;
    padding: 2rem;
    content: "🚧 There should be a CodePen embed here... 🤔";
    color: $color--contrast;
    opacity: 0.9;
  }
}

pre,
code[class*="language-"] {
  font-family: "SF Mono", Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
}

code {
  font-family: "SF Mono", Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  &.language-css,
  &.language-scss {
    color: #ffcc99;
  }
}

pre {
  // filter: grayscale(1);
  margin-block-end: 1rem;
  border-radius: 2px;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier,
    monospace;
  font-size: 14px;
  line-height: 1.375;
  overflow: auto;
  padding: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  background-color: #2e3440;
  color: #f8f8f2;
  &::-moz-selection,
  ::-moz-selection {
    text-shadow: none;
  }
}
