.layout {
  &--post {
    display: initial;

    @include screen(lg) {
      width: calc(100vw - #{$nav-size});
    }
  }
}

.post {
  &__header {
    position: relative;
    display: grid;
    overflow: hidden;
    min-height: 50vh;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  &__header-inner {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: "link" "date" "category" "title";
    width: 100%;
    max-width: 70rem;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    color: $color--contrast-overlay;

    @include screen(lg) {
      grid-template-areas: "link ." "section ." ". category" "date title";
      grid-template-columns: 10rem 50ch;
      grid-template-rows: auto 1fr auto auto;
      align-content: end;
      justify-content: start;
      padding: 2rem 4rem;
    }
    @include screen(xl) {
      grid-template-columns: 12rem 1fr;
    }
  }
  &__hero-image {
    // @include image-filter;
    z-index: -1;
    min-width: calc(100% + 20px);
    min-height: calc(100% + 20px);
    object-fit: cover;

    @include full-bleed-hero-image;
  }
  &__return-link {
    font-size: 0.7rem;
    grid-area: link;
    margin: 0;
    text-decoration: none;

    @include wide-sans;
    clip-path: $clip-path-wide-open;
  }
  &__section {
    font-size: 1.3rem;
    font-weight: 200;
    display: none;
    grid-area: section;
    margin: 0;
    text-transform: uppercase;

    clip-path: $clip-path-wide-open;
    @include screen(lg) {
      font-size: 2rem;
      display: initial;
    }
  }
  &__category {
    grid-area: category;
    align-self: end;

    @include wide-sans;
    @include screen(lg) {
      align-self: unset;
    }
  }
  &__title {
    font-weight: 700;
    grid-area: title;
    max-width: 60ch;
    text-transform: none;

    clip-path: $clip-path-extended;
  }
  &__date {
    font-family: $font--display;
    font-size: 1.3rem;
    grid-area: date;
    align-self: end;
    text-transform: uppercase;

    clip-path: $clip-path-wide-open;
  }
  &__tags {
    font-size: 0.7rem;
    line-height: 1.5;
    display: none;
    margin: 0 auto 2rem;
    list-style-type: none;
    color: $color--mid;

    @include wide-sans;
    @include screen(md) {
      display: inline-block;
    }
    @include screen(lg) {
      display: block;
      margin: initial;
    }
  }
  &__tag {
    display: inline-block;

    @include screen(lg) {
      display: block;
    }
    &:not(:last-child) {
      &:after {
        padding: 1rem;
        content: "|";

        @include screen(lg) {
          content: unset;
        }
      }
    }
  }
  &__content {
    @include container;

    display: grid;
    grid-column-gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;

    @include screen(lg) {
      grid-template-columns: 10rem 50ch;
      // display: grid;
      width: 70rem;
      padding: 4rem;
    }
    @include screen(xl) {
      grid-template-columns: 12rem 1fr;
    }
    a {
      @include external-link-icon;
    }
  }
  &__text {
    line-height: 1.2;
    // display: grid;
    width: 100%;
    max-width: 50ch;
    ol {
      list-style-type: upper-roman;
      ::marker {
        font-family: $font--display;
      }
    }
    ul {
      list-style-type: square;
    }
    ol,
    ul {
      line-height: 2;
      margin-bottom: 1rem;
      padding-left: 1.3em;
      list-style-position: outside;
      ul {
        margin-bottom: 0;
      }
    }
  }
}

.twitter-tweet-rendered {
  max-width: calc(100vw - 4rem) !important;
  margin: 3rem auto !important;
}
