.layout {
  &--post {
    display: initial;
    @include screen(lg) {
      width: calc(100vw - #{$nav-size});
    }
  }
}

.post {
  &__header {
    position: relative;
    display: grid;
    overflow: hidden;
    min-height: 50vh;
  }
  &__header-inner {
    display: grid;
    width: 100%;
    max-width: 70rem;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    color: $color--contrast;
    grid-column-gap: 1rem;
    grid-template-areas: "link" "date" "category" "title";
    @include screen(lg) {
      padding: 2rem 4rem;
      justify-content: start;
      align-content: end;
      grid-template-columns: 15rem 1fr;
      grid-template-areas: "link ." "section ." ". category" "date title";
      grid-template-rows: auto 1fr auto auto;
    }
  }
  &__hero-image {
    @include full-bleed-hero-image;
    @include image-filter;
    z-index: -1;
    min-width: calc(100% + 20px);
    min-height: calc(100% + 20px);
    object-fit: cover;
  }
  &__return-link {
    @include wide-sans;
    font-size: 0.7rem;
    margin: 0;
    text-decoration: none;
    grid-area: link;
  }
  &__section {
    font-size: 1.3rem;
    font-weight: 200;
    display: none;
    text-transform: uppercase;
    grid-area: section;
    @include screen(lg) {
      display: initial;
    }
  }
  &__category {
    @include wide-sans;
    align-self: end;
    grid-area: category;
    @include screen(lg) {
      align-self: unset;
    }
  }
  &__title {
    font-weight: 700;
    text-transform: none;
    grid-area: title;
  }
  &__date {
    font-family: $font--display;
    font-size: 1.3rem;
    align-self: end;
    grid-area: date;
  }
  &__tags {
    @include wide-sans;
    font-size: 0.7rem;
    line-height: 1.5;
    display: none;
    margin: 0 auto 2rem;
    list-style-type: none;
    color: $color--mid;
    @include screen(md) {
      display: inline-block;
    }
    @include screen(lg) {
      display: block;
      margin: initial;
    }
  }
  &__tag {
    display: inline-block;
    @include screen(lg) {
      display: block;
    }
    &:not(:last-child) {
      &:after {
        padding: 1rem;
        content: "|";
        @include screen(lg) {
          content: unset;
        }
      }
    }
  }
  &__content {
    @include container;
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;
    grid-column-gap: 1rem;
    @include screen(lg) {
      width: 70rem;
      padding: 4rem;
      grid-template-columns: 15rem 1fr;
    }
  }
  &__text {
    line-height: 1.2;
    display: grid;
    ol,
    ul {
      line-height: 1.5;
      margin-bottom: 1rem;
      padding-left: 1.3em;
      list-style: initial;
      list-style-position: outside;
    }
    ol {
      list-style-type: upper-roman;
      ::marker {
        font-family: $font--display;
      }
    }
    ul {
      list-style-type: square;
    }
  }
}
